/**************** 首页 ********************/
.txt {
	width: 66%;
	padding: 0 1rem;
	margin: 2%;
	font-size: 1rem;
	line-height: 2;
	border-radius: 2rem;
	background-color: #EEE;
	vertical-align: middle;
}

.btn {
	font-size: 1.5rem;
	font-weight: bolder;
	vertical-align: middle;
}

.barBtn {
	text-align: right;
	height: 0;
	margin-bottom: 0.5rem;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
}

.barc {
	display: inline-block;
	width: 60%;
	padding-left: 2%;
	height: 100%;
	text-align: left;
	line-height: 3;
	background-color: #FFF;
}

.bcnOut {
	width: 97%;
	margin: 0 auto;
	line-height: 2.5;
}

.list {
	margin: 1rem;
}

.list a {
	display: block;
	color: #000;
	word-break: break-all;
	margin: 1rem 0 0.5rem 0;
}

.list div {
	font-size: 0.8rem;
	margin-left: 1rem;
	word-break: break-all;
	line-height: 1;
	color: #777;
}

.non {
	text-align: center;
	color: #CCC;
	font-style: italic;
}

.memo {
	cursor: pointer;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	color: #F00;
	z-index: 20;
}

.mgrBtn {
	font-weight: bolder;
	vertical-align: middle;
}

.mgrTxt {
	width: 80%;
	padding: 0 0.6rem;
	margin: 1rem auto;
	font-size: 0.8rem;
	line-height: 2;
	word-break: break-all;
	background-color: #EEE;
	border: none;
	outline: medium;
}
